main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#right {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 17vh;
  background-color: var(--brancoEscuro);
}

#right>p {
  padding: 0.2em;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--cinzaEscuro);
}

#left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 17vh;
  background-color: var(--brancoEscuro);
}