main {
  display: flex;
  width: 100vw;
  background-color: var(--brancoEscuro);
}

.emprestimo-asides {
  height: 100%;
  display: flex;
}

aside {
  display: flex;
  height: 100%;
}


#right {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 17vh;
  background-color: var(--brancoEscuro);
}

#right>p {
  padding: 0.2em;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--cinzaEscuro);
}

#left {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: var(--brancoEscuro);
}

.btn-cancelar {
  margin-bottom: 2vh;
}